<div class="relative w-100 bg-white nested-copy-line-height">
  <div class="bg-white pa4 gray overflow-hidden">
    <span class="f3 near-black fw6 pr3">
        {{ .Title }}
    </span>
    <div class="f4 gray fw3 pr3 i 'avenir next'">
        {{ .Params.qualifications }}
    </div>
    <div class="mw5 fr"><img src="{{ .Params.image }}"></div>
    <div class="f4 pv2">
      {{ .Content }}
  </div>
  <div class="tc">
    <a class="blue link dim" href="/appointments">Book appointment</a>
  </div>
</div>
</div>
