<div class="relative w-100">
  <div class="bg-white pa4 gray overflow-hidden">
    <span class="f3 near-black fw6 pr3">
      {{ .Params.clinic_name }}
    </span>
    <span class="f4 gray">
      {{ .Title }}
    </span>
    <div class="nested-links f4 lh-copy nested-copy-line-height pl2 pt3">
      <div class="pv2">
        {{ if .Params.address.line1 }}
          {{ .Params.address.line1 }}
        {{ end }}
        <br>
        {{ if .Params.address.line2 }}
          {{ .Params.address.line2 }}
        {{ end }}
        <br>
        {{ if .Params.address.suburb }}
          {{ .Params.address.suburb }}
        {{ end }}
        <br>
        {{ if .Params.address.postcode }}
          {{ .Params.address.postcode }}
        {{ end }}
      </div>
      <div class="pv2">
        <span class="fw6 mr2">Phone:</span> {{ .Params.phone }}
      </div>
      <div class="pv2">
        <span class="fw6 mr2">Email:</span> {{ .Params.email }}
      </div>
      <div class="pt2">
        <span class="fw6 mr2">Availability:</span> {{ .Params.availability }}
      </div>
    </div>
  </div>
</div>
