<div class="relative w-100 bg-white nested-copy-line-height">
  <div class="bg-white pa4 gray overflow-hidden">
    <span class="f3 near-black fw6 pr3">
      {{ .Params.clinic_name }}
    </span>
    <span class="f4 gray">
      {{ .Title }}
    </span>
    <div class="nested-links f4 lh-copy nested-copy-line-height pl2 pt3">
      <div class="pv2">
        {{ .Params.address_1 }}
        <br>
        {{ .Params.address_2 }}
      </div>
      <div class="pv2">
        <b>Phone:</b> {{ .Params.phone }}
      </div>
      <div class="pv2">
        <b>Email:</b> {{ .Params.email }}
      </div>
      <div class="pt2">
        <b>Availability:</b> {{ .Params.availability }}
      </div>
    </div>
  </div>
</div>
