{{ $featured_image := .Site.Params.header_image }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="pb1-m pb1-l bg-black-60">
      {{ partial "site-navigation.html" . }}
      <div class="tc pv1 ph1 ph1-ns">
        <h1 class="f2 f1-l fw3 white-90 mv0 lh-title">{{ .Title | default .Site.Title }}</h1>
        {{ with .Params.description  }}
          <h2 class="fw2 f5 f3-l white-80 measure-wide-l center lh-copy mt1 mb1">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
